doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(rel='stylesheet', href='css/estilos.css')
  body
    .container
      img(src='img/LOGO.jpg', style='opacity:0.5')
      .row
        .col-sm-4
          h1 Smart
        .col-sm-6
        .col-sm-2
          div
            a(href="/") Logout
          div
            a(href="main_menu_alumnee") Regresar      
        .container  Mis citas/consultas  
          .row
            .col
              table.table
                thead.thead-dark
                    tr
                    th(scope='col') 
                    th(scope='col') Profesor
                    th(scope='col') Fecha
                    th(scope='col') Horario
                    th(scope='col') Completado
                tbody
                  tr
                  each session in cs
                    each appointment, index in session.citas
                      th(scope='row') #{index + 1}
                      th #{session.teacherID}
                      th #{appointment.date}
                      th #{session.time}
                      th #{appointment.completed}
              .col-sm-8
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#agregarCita') Reservar cita
              table.table
               #agregarCita.modal(tabindex='-1')
                            .modal-dialog(role='document')
                              .modal-content
                                .modal-header
                                  h5#modalagregarCita.modal-title(style='color:black') Agregar Cita
                                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                                .modal-body(style='color:black')
                                  form(method='POST' action='/alum_crear_cita') 
                                    .form-group
                                      label Profesor:
                                      select.form-control(name='teacher')
                                        each profesor, index in teachers
                                          option(value=profesor.name) #{profesor.name}
                                    .form-group
                                      label Fecha:
                                      select.form-control(name='date')
                                        option(value='07/11/2018') 07/11/2018  
                                    .form-group
                                      label Horario:
                                      select.form-control(name='time')
                                        option(value='10-11') 10-11
                                        option(value='11-12') 11-12
                                    .form-group
                                      label(name='completed') Completado

                                    .modal-footer
                                      button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
                                      button.btn.btn-primary(type='submit') Guardar
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
      


